<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <meta charset="UTF-8">
    <title>Add new user</title>

</head>
<body>
<form

        th:action="@{/admin/new}"
        th:object="${user}"
        method="POST">
    <label for="name"><b>Name</b></label>
    <input th:name="name" th:type="text" class="form-control" id="name" required/>
    <br>
    <label for="surname"><b>Surname</b></label>
    <input th:name="surname" th:type="text" class="form-control" id="surname" required/>
    <br>
    <label for="age"><b>Age</b></label>
    <input th:name="age" th:type="number" class="form-control" id="age"/>
    <br>
    <label for="email"><b>Email</b></label>
    <input th:name="email" th:type="text" class="form-control" id="email" required/>
    <br>
    <label for="login"><b>Login</b></label>
    <input th:name="login" th:type="text" class="form-control" id="login" required/>
    <br>
    <label for="password"><b>Password</b></label>
    <input th:name="password" th:field="*{password}" th:type="password" class="form-control"
           id="password"/>
    <br>
    <label for="roles"><b>Role</b></label>
    <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
        <option th:each="role: ${roles}" th:value="${role}" th:selected="${user.roles.contains(role)}">
            <th:block th:text="${role}">
            </th:block>
        </option>
    </select>
    <br>
    <button th:type="submit" class="btn btn-success btn-lg" value="Add new user">Add new user
    </button>
</form>
<br>
<button class="buttonLogout" onclick="window.location.href = '/user/logout';">Logout</button>
</body>
</html>